h1, h3 {
  text-align: center;
  font-family: "Montserrat"
}

#logo {
  display: block;
  margin: auto;
  width: 10%;
}

#articlename {
  padding: 90px;
}

p {
  font-family: "Open Sans"
}
.info_img {
    width: 100%;
    height: 100%;
}
.graph_format {
    display: inline-block;
    float: left;
}

header {
  padding: 60px;
}

body { 
  background: url("../images/background.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 100px;
}

#container {
    float: right;
}
